* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background: #f7f7f5;
  color: #111;
  font-family: Inter, sans-serif;
}

h1 {
  margin: 0;
  padding: 40px;
}
